<app-loader></app-loader>

<div class="container">
  <div class="outer-box">
    <div class="inner-box">
      <div class="row">
        <div class="col-sm-12">
          <div class="address-container">
            <div class="address-bar">
              <i class="fas fa-map-marker-alt"></i>
              <input #searchInput autocapitalize="off" autocorrect="off"
                     class="form-control" spellcheck="off" type="text">
              <i class="fas fa-search"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row m-0">
        <div class="col-sm-12 report-container">
          <div class="row">
            <div class="col-lg-3">
              <div class="days">
                <div *ngFor="let one of appService.weatherData?.daily" class="day-insight" [class.day-insight-active]="todayCheck(one.dt)">
                  <div class="d-flex justify-content-center day-data">
                    <div class="day">{{appService.convertTime(one.dt, 'ddd')}}</div>
                    <div class="sep">&nbsp;|&nbsp;</div>
                    <div class="day-temp">
                      <p><span class="max">{{one.temp.min | number: '0.0-0'}}°</span>&nbsp;<span class="min">{{one.temp.max | number: '0.0-0'}}°</span></p>
                    </div>
                  </div>
                  <div class="icon-container">
                    <img [src]="'../assets/'+appService.getIcon(one.weather[0]?.main)" alt="">
                  </div>
                  <div class="day-status">{{one.weather[0]?.main}}</div>
                </div>
              </div>

            </div>
            <div class="col-lg-9 insights">
              <div class="row">
                <div class="col-lg-4 d-flex">
                  <div class="m-auto p-3 temp-data-bold">
                    <h2>{{appService?.weatherData?.current?.temp | number: '1.0-0'}}°C</h2>
                    <img [src]="'../assets/'+appService.getIcon(appService?.weatherData?.current?.weather[0]?.main)" alt="">
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="row">
                    <div class="col-12">
                      <svg style="height: 0">
                        <defs>
                          <linearGradient id="gradient-0" x1="0" y1="0" x2="0" y2="1">
                            <stop offset="0"/>
                            <stop offset="1"/>
                            <stop offset="2"/>
                            <stop offset="3"/>
                          </linearGradient>
                        </defs>
                      </svg>
                      <div id="temp-graph-container"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 p-0">
                      <div class="info-box">
                        <div class="title">Pressure</div>
                        <div class="value">{{appService.weatherData?.current?.pressure}} hpa</div>
                      </div>
                    </div>
                    <div class="col-6 p-0">
                      <div class="info-box">
                        <div class="title">Humidity</div>
                        <div class="value">{{appService.weatherData?.current?.humidity}} %</div>
                      </div>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="row sun-info">
                        <div class="col-6 p-0">
                          <div class="sun-legend text-left">
                            <div class="title">Sunrise</div>
                            <div class="value">{{appService.convertTime(appService.weatherData?.current?.sunrise, 'h:mma')}}</div>
                          </div>
                        </div>
                        <div class="col-6 p-0">
                          <div class="sun-legend text-right">
                            <div class="title">Sunset</div>
                            <div class="value">{{appService.convertTime(appService.weatherData?.current?.sunset, 'h:mma')}}</div>
                          </div>
                        </div>
                      </div>
                      <div class="row sun-info">
                        <div class="col-12 p-0">
                          <div id="sun-graph-container"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="clearfix"></div>
</div>
